{% extends 'cp_main\base.html' %}
{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">S no.</th>
            <th scope="col">Username</th>
            <th scope="col">Registration no.</th>
            <th scope="col">Codeforces Handle</th>
            <th scope="col">Leetcode Handle</th>
            <th scope="col">Codechef Handle</th>
            <th scope="col">Performance</th>
        </tr>
    </thead>
    <tbody>
        {% for i in all_profiles %}
            <tr>
                <a href="#">
                <th scope="row" class="table-primary">{{forloop.counter}}</th>
                <td class="table-primary">{{ i.user.username }}</td>
                <td class="table-primary">{{ i.registration_no }}</td>
                <td class="table-primary">{{ i.codeforces_username }}</td>
                <td class="table-primary">{{ i.leetcode_username }}</td>
                <td class="table-primary">{{ i.codechef_username }}</td>
                <td class="table-primary">{{ 0 }}</td>

                </a>
            </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock %}