{% extends 'cp_main\base.html' %}
{% block content %}



<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Today's Contests</h1>
        <ul>
            {% if contests|length > 0 %}
            {% for contest in contests %}
            <ul>
                <a href="{{ contest.url }}">{{ contest.name }}</a>   
            </ul>
            {% endfor %}
            {% else %}
            <h7 class="display-5 fst-italic"><b>No contests today!!!</b></h7>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}